* {
    margin: 0;
    padding: 0;
    font-size: 64.5%;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.logo img {
    position: absolute;
    height: 6rem;
    width: 10rem;
    top: 3rem;
    left: 7rem;
}

.title {
    background: rgba(0, 0, 0, 0.8) url(./images/mainPage.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-blend-mode: darken;
}

h1 {
    font-size: 4rem;
    background-color: #7C7878;
    display: inline-block;
    color: #A0F462;
    font-family: 'Silom';
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.btn {
    font-size: 1.7rem;
    padding: .3rem 1rem;
    font-family: 'Silom';
    border-radius: 2rem;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #A0F462;
    border: 0;
    cursor: pointer;
}

.btn:hover {
    background-color: #78ff17;
}

@media (max-width: 1140px) {
    * {
        font-size: 50%;
    }
}

