* {
    margin: 0;
    padding: 0;
    font-size: 64.5%;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Page 1 */

.logo img {
    position: absolute;
    height: 7rem;
    width: 12rem;
    top: 3rem;
    left: 7rem;
    font-weight: bold;
}

.title {
    background: rgba(0, 0, 0, 0.4) url(./images/mainPage.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-blend-mode: darken;
}

h1 {
    font-size: 6rem;
    background-color: #7C7878;
    display: inline-block;
    color: #A0F462;
    font-family: 'Silom';
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    white-space: nowrap;
}

.btn {
    font-size: 1.7rem;
    padding: .3rem 1rem;
    font-family: 'Silom';
    border-radius: 2rem;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #A0F462;
    border: 0;
    cursor: pointer;
}

.btn:hover {
    background-color: #78ff17;
}

.socialIcon {
    position: absolute;
    margin-top: -15rem;
    right: 7rem;
}

.social-icon {
    margin: 2rem 1rem;
    font-size: 2.5rem;
    color: white;
}

.social-icon:hover {
    transform: translateY(-20%);
}

.bottom-img {
    position: absolute;
    margin-top: -7rem;
    font-size: 3rem;
    color: white;
    left: 49vw;
    animation: jump 1.5s ease infinite;
}

/* Page 2 */

.line-break {
    width: 100%;
    height: 5rem;
}

h2 {
    font-size: 5rem;
    text-align: center;
    font-family: 'Silom';
}

h3 {
    margin-top: 2rem;
    font-size: 2.5rem;
    font-family: 'Silom';
}

.page2 {
    display: flex;
    margin: 10rem 7rem;
    text-align: center;
    height: 100%;
}

.page2 img {
    height: 22rem;
    width: 32rem;
}

p {
    padding: 3rem 6rem;
    font-size: 1.7rem;
    font-family: 'Silom';
    /* text-align: left; */
}

/* Page 3 */

.page3 {
    /* width: 100vw;
    height: 100vh; */
    text-align: center;
    background-color: #333333;
}

.page3 h2 {
    color: #A0F462;
    padding: 7rem;
}

.page3 img {
    height: 20rem;
    width: 20rem;
}

.page3 p {
    padding: 7rem;
}

/* Footer */

footer {
    text-align: center;
}

@media (max-width: 1140px) {
    * {
        font-size: 50%;
    }
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30%);
    }
    100% {
        transform: translateY(0%);
    }
}
